button{
    display: inline-block;
    padding: 20px 20px;
    background-color: aquamarine;
    color: black;
    border:none;
    font-size: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition:background-color .8s;
}
button:hover{
    background-color:burlywood;
}
button:active{
    background-color: rgb(0, 255, 34);
}